openai
elevenlabs==0.2.26
numpy
pandas
matplotlib
seaborn
openpyxl
networkx
streamlit
dataclasses
textwrap3
graphviz
pinecone-client
ffmpeg-python
openai-whisper
librosa
streamlit-chat
boto3
langchain
pexpect
audio-recorder-streamlit
tiktoken
tabulate
transformers
accelerate
einops
huggingface-hub
streamlit-agraph



